---

---

<html lang="en">
	<head>
		<!-- Google tag (gtag.js) -->
		<script
			async
			src="https://www.googletagmanager.com/gtag/js?id=G-3XQVKRQLEQ"
			is:inline></script>
		<script is:inline>
			window.dataLayer = window.dataLayer || [];
			function gtag() {
				dataLayer.push(arguments);
			}
			gtag("js", new Date());

			gtag("config", "G-3XQVKRQLEQ");
		</script>

		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="generator" content={Astro.generator} />
		<title>
			Mark Sowell - Penetration Tester at Check Point Software
			Technologies Ltd. - CEH Master, CCSM Elite, &amp; Cybersecurity
			Expert
		</title>
		<meta
			name="description"
			content="Mark Sowell is a Penetration Tester at Check Point Software Technologies Ltd. - CEH Master, CCSM Elite, & Cybersecurity Expert. Other certifications include CCPE-I, CCPE-W, CPSA, CCTE, CCTA, CCPA, CCES, CCAS, CCSBMSE, CCSBA, CCSBA-AGENT, CCSM, CCVSA, CCSA, CCSE, CCNA, CWNA, Security+ and more."
		/>
		<link rel="preload" href="https://fonts.gstatic.com/s/montserrat/v29/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCtr6Hw5aXp-p7K4KLg.woff2" as="font" type="font/woff2" crossorigin="anonymous">
		<link rel="preload" href="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js" as="script">
		<link rel="preload" href="/styles/main.css" as="style">
		<link rel="preload" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.6.0/css/all.min.css" as="style">
		<link rel="stylesheet" href="/styles/main.css" />
		<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.6.0/css/all.min.css" />
		<link rel="icon" href="/images/favicon.avif" type="image/avif" />
		<!-- <link rel="icon" href="/images/favicon.png" type="image/png" /> -->
		<link
			rel="apple-touch-icon"
			sizes="180x180"
			href="/images/apple-touch-icon.png"
		/>
		<meta name="apple-mobile-web-app-title" content="Mark Sowell" />
		<!-- Open Graph Tags -->
		<meta property="og:title" content="Mark Sowell - Penetration Tester at Check Point Software Technologies Ltd. - CEH Master, CCSM Elite, & Cybersecurity Expert" />
		<meta property="og:description" content="Mark Sowell is a Penetration Tester at Check Point Software Technologies Ltd. - CEH Master, CCSM Elite, & Cybersecurity Expert. Other certifications include CCPE-I, CCPE-W, CPSA, CCTE, CCTA, CCPA, CCES, CCAS, CCSBMSE, CCSBA, CCSBA-AGENT, CCSM, CCVSA, CCSA, CCSE, CCNA, CWNA, Security+ and more." />
		<meta property="og:image" content="https://marksowell.com/images/preview-image.png" />
		<meta property="og:image:width" content="1200" />
		<meta property="og:image:height" content="630" />
		<meta property="og:url" content="https://marksowell.com" />
		<meta property="og:type" content="website" />
		<meta property="og:site_name" content="Mark Sowell" />
		<script src="//cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js" is:inline></script>
		<script src="/js/main.js" is:inline></script>
	</head>
	<body>
		<div
			id="particles-js"
			style="touch-action: none; pointer-events: auto;"
		>
			<div
				class="header"
				style="min-width:80%; height:100svh; pointer-events: none;"
			>
				<h1>
					<span style="margin-bottom: 10px;"
						>
						<picture>
							<source srcset="/images/marksowell-cp-circle-border-inside.avif" type="image/avif">
							<img src="/images/marksowell-cp-circle-border-inside.png" alt="Mark Sowell" style="height: 250px; width: auto;">
						</picture>
					</span>
					<span style="margin-bottom:10px;" class="site-title"
						>Mark Sowell</span
					>
					<span
						style="margin:0 auto;max-width:80%;font-weight:400;"
						class="site-description"
						>Penetration Tester at Check Point Software Technologies
						Ltd. - CEH Master, CCSM Elite, & Cybersecurity Expert</span
					>
				</h1>
				<div class="header-icons">
					<a
						aria-label="Send Email"
						href="mailto:mark@marksowell.com"
						title="Send Email"
						><i class="icon fa fa-envelope"></i></a
					>
					<a
						aria-label="My LinkedIn"
						target="_blank"
						href="https://www.linkedin.com/in/marksowell/"
						title="My LinkedIn"
						><i
							class="icon fa-brands fa-linkedin"
							aria-hidden="true"></i></a
					>
					<a
						aria-label="My X"
						target="_blank"
						href="https://x.com/marksowell/"
						title="My X"
						><i
							class="icon fa-brands fa-x-twitter"
							aria-hidden="true"></i></a
					>
					<a
						aria-label="My Credly"
						target="_blank"
						href="https://www.credly.com/users/marksowell"
						title="My Credly"
						><i
							class="icon fa fa-mycredly"
							aria-hidden="true"></i></a
					>
					<a
						aria-label="EC-Council"
						target="_blank"
						href="https://aspen.eccouncil.org/VerifyBadge?type=certification&a=hrh5u5BN7tpBPrNa4iembfeuOXjVqqECsmvVrUh2oeI="
						title="EC-Council"
						><i class="icon fa" aria-hidden="true"><b>&#9651</b></i
						></a
					>
					<a
						aria-label="TryHackMe"
						target="_blank"
						href="https://tryhackme.com/p/marksowell"
						title="TryHackMe"
						><i class="icon fa fa-thm" aria-hidden="true"></i></a
					>
					<!--<a aria-label="My Stackoverflow" target="_blank" href="https://stackoverflow.com/users/12828897/mark-s?tab=profile"><i class="icon fa fa-stack-overflow" aria-hidden="true"></i></a>-->
					<a
						aria-label="My GitHub"
						target="_blank"
						href="https://github.com/marksowell"
						title="My GitHub"
						><i
							class="icon fa-brands fa-github-alt"
							aria-hidden="true"></i></a
					>
					<!--<a aria-label="HackTheBox profile" target="_blank" href="https://www.hackthebox.eu/profile/319820"><i class="icon fa fa-cube" aria-hidden="true"></i></a>-->
					<!--<a aria-label="HackerRank profile" target="_blank" href="https://www.hackerrank.com/marksowell"><i class="icon fa fa-code" aria-hidden="true"></i></a>-->
					<!--<a aria-label="HackerOne profile" target="_blank" href="https://hackerone.com/marksowell"><i class="icon fa fa-bug" aria-hidden="true"></i></a>-->
				</div>
				<div
					class="status-container"
					style="width: 100%; padding-left: 30px; justify-content: center; position: absolute; display: flex; bottom: 10px; pointer-events: auto;"
				>
					<iframe
						src="https://status.marksowell.com/badge?theme=dark"
						width="250"
						height="30"
						frameborder="0"
						scrolling="no" title="Staus"></iframe>
				</div>
			</div>
		</div>
	</body>
</html>
